@import "helper";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181818;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: #11181C;
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
}
//
//@media (max-width: 1024px) {
//  html {
//    font-size: 15px;
//  }
//}
//
//@media (max-width: 992px) {
//  html {
//    font-size: 14px;
//  }
//}
//
//@media (max-width: 576px) {
//  html {
//    font-size: 13px;
//  }
//}

input:focus {
  outline: none;
  box-shadow: none;
}

.container{
  width: 100%;
  max-width: 1208px !important;
  margin: 0 auto;
  @media (max-width: 1570px) {
    padding: 0 15px;
  }
}


.raleway-font {
  font-family: "Raleway", sans-serif;
}

// COMPONENTS

.default-switch{

  input{
    display: none;
  }

  input:checked ~ span{
    background-color: #FF592C;
    &:after{
      left: 12px;
    }
  }

  span{
    width: 26px;
    min-width: 26px;
    height: 16px;
    background-color: #C1C8CD;
    border-radius: 10px;
    position: relative;
    display: block;
    transition: 0.3s;
    cursor: pointer;

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #FFF;
      transition: 0.3s;
    }

  }

}


@import "components/search";
@import "components/input-range";

.border-tel-input{
  border-color: #484747 !important;
}

.shadow-free-item{
  box-shadow: 0 2px 4px 0 rgba(17, 80, 203, 0.10), 0px 24px 60px 0px rgba(17, 80, 203, 0.05), 0px 12px 24px 0px rgba(17, 80, 203, 0.05);
}

.lounges-title{
  background: linear-gradient(90deg, #FFF 50.12%, rgba(255, 255, 255, 0.00) 99.99%);
}

.content{
  @media (min-width: 768px) {
    box-shadow: 0px -20px 30px 0px #F0F2FF;
  }
}

.card-shadow{
  box-shadow: 0 0 0.5px 0 rgba(18, 1, 255, 0.20), 0px 0.5px 2px 0px #CDD3FF;
}
.faq-item-shadow{
  box-shadow: 0px 2px 4px 0px rgba(62, 123, 250, 0.04), 0px 8px 16px 0px rgba(102, 223, 246, 0.16);
}
.hero-res-shadow{
  box-shadow: 0 10px 20px 2px rgba(39, 39, 42, 0.10), 0px -1px 0px 0px rgba(18, 1, 255, 0.20), -1px 0px 0px 0px rgba(18, 1, 255, 0.20), 1px 0px 0px 0px rgba(18, 1, 255, 0.20), 0px 1px 0px 0px rgba(18, 1, 255, 0.20);
}
.btn-child-shadow{
  box-shadow: -0.5px 0px 0px 0px #00D9FF inset, 0px -0.5px 0px 0px #00BEE5 inset, 0.5px 0px 0px 0px #00D9FF inset, 0px -1px 0px 0px #00D9FF inset, 0px 0.5px 0px 0px #00D9FF inset;
}
.wrapper-shadow{
  box-shadow: 0px 0px 0.5px 0px rgba(18, 1, 255, 0.20), 0px 0.5px 2px 0px #CDD3FF;
}

.contact-section{
  background: linear-gradient(147deg, rgba(0, 217, 255, 0.30) -19.7%, rgba(117, 180, 255, 0.30) 53.65%);
}

.view-map-btn-shadow{
  box-shadow: 0px 10px 20px 2px rgba(39, 39, 42, 0.10), 0px -1px 0px 0px rgba(18, 1, 255, 0.20), -1px 0px 0px 0px rgba(18, 1, 255, 0.20), 1px 0px 0px 0px rgba(18, 1, 255, 0.20), 0px 1px 0px 0px rgba(18, 1, 255, 0.20);
}

.scroll-bottom-none{
  &::-webkit-scrollbar {
    height: 0;
  }
}

.mobile-menu-board{
  width: 30px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: $md) {
    display: flex;
  }
  &.active{
    span{
      &:nth-of-type(1){
        transform: rotate(45deg);
        top: 10px;
      }
      &:nth-of-type(2){
        opacity: 0;
      }
      &:nth-of-type(3){
        transform: rotate(-45deg);
        top: -10px;
      }
    }
  }
  span {
    transition: 0.3s;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: #fff;
    position: relative;
    &:last-child{
      margin: 0;
    }
    &:nth-of-type(1){
      transform: rotate(0);
      top: 0
    }
    &:nth-of-type(2){
      opacity: 1;
    }
    &:nth-of-type(3){
      transform: rotate(0);
      top: 0;
    }
  }
}



$green: #3E3AFF;
$colors: #3E3AFF #2196f3 #e91e63 #9c27b0;
$svgValue: 75; // write wanted value
$totalLength: 192; //total length from javascript
$offsetvalue:$totalLength - (($svgValue/100) *$totalLength);
$speed: 5s;

  $map: (#load-line1: #3E3AFF, #load-line2: #2196f3, #load-line3: #e91e63, #load-line4: #9c27b0);
  @each $key,
  $value in $map {
    #{$key} {
      stroke: $value
    }
  }
  .circle-wrapper {
    @each $id,
    $color in (1, #3E3AFF),
            (2, #2196f3),
            (3, #e91e63),
            (4, #9c27b0) {
      .svg:nth-of-type(#{$id}) {
        color: $color
      }
    }
    .svg {
      border-radius: 5px;
      padding: 5px;
      margin: 10px 0;
      position: relative;
      &:after {
        content: attr(data-lang);
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -100%);
        font-weight: bold;
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-shadow: 1px 1px 1px #fff
      }
    }
    svg {

      path {
        fill: none;
      }
      .load-circle {
        stroke-width: 3px;
        stroke-linecap: round;
        transition: stroke-dashoffset 3s ease-in-out;
        position: relative;
      }
    }
    .load-bg {
      stroke: #E4E7FF;
      stroke-width: 3px
    }
  }

  @keyframes load {
    to {
      stroke-dashoffset: $offsetvalue;
    }
  }

.social {
  color: #999;
  letter-spacing: 1px;
  i{
    background: #eee;
    color: #777;
    padding: 5px;
    border-radius: 50%;

  }
  i:hover {
    color: #111;
  }
  .follow {
    animation: light .8s ease-in-out infinite forwards
  }
}

@keyframes light {
  to{color: #111}
}




@tailwind base;
@tailwind components;
@tailwind utilities;