@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181818;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: #27272A;
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.container {
  width: 100%;
  max-width: 1208px !important;
  margin: 0 auto;
}
@media (max-width: 1570px) {
  .container {
    padding: 0 15px;
  }
}

.raleway-font {
  font-family: "Raleway", sans-serif;
}

.default-switch input {
  display: none;
}
.default-switch input:checked ~ span {
  background-color: #FF592C;
}
.default-switch input:checked ~ span:after {
  left: 12px;
}
.default-switch span {
  width: 26px;
  min-width: 26px;
  height: 16px;
  background-color: #C1C8CD;
  border-radius: 10px;
  position: relative;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}
.default-switch span:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FFF;
  transition: 0.3s;
}

.search {
  width: 100%;
  position: relative;
  transition: 0.3s border-radius;
}
@media (max-width: 1280px) {
  .search {
    height: auto;
  }
}
.search.fixed-top {
  height: 82px;
  padding: 0;
  border-radius: 0 0 24px 24px;
  z-index: 999999;
}
.search.no-anim {
  background: #1150CB url("../images/search-bg.jpg") no-repeat center center;
  background-size: cover;
}
@media (max-width: 768px) {
  .search.no-anim {
    background: #1150CB;
    background-size: cover;
  }
}
.search.no-bg {
  background: #1150CB;
}
.search.popular {
  background: #1150CB;
}
.search .vector {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  height: 110%;
  width: 110%;
}
@media (max-width: 768px) {
  .search .vector {
    top: -30%;
  }
}
.search .vector path {
  stroke-dasharray: 6500;
  stroke-dashoffset: 6500;
  transition: stroke-dashoffset 4s ease-out;
}
.search .vector.active path {
  stroke-dashoffset: 0;
}
.search-form {
  width: 100%;
  height: 4rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
@media (max-width: 1280px) {
  .search-form {
    flex-direction: column;
    height: auto;
    border-radius: 16px;
    position: relative;
    background-color: #fff;
  }
}
.search-form-inp {
  width: 100%;
  padding-left: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  height: 100%;
  transition: 0.3s;
  border: 2px solid transparent;
  background-color: #fff;
}
@media (max-width: 1280px) {
  .search-form-inp {
    height: 52px;
    border-bottom: 1px solid #C1C8CD;
  }
}
.search-form-inp.focus {
  border: 2px solid #FF7A00;
  position: relative;
  z-index: 1000000;
}
.search-form-inp.focus:after {
  opacity: 0;
}
.search-form-inp.focus .air-icon path {
  stroke: #FF7A00;
}
.search-form-inp.there {
  margin-right: -2px;
  border-radius: 16px 0 0 16px;
}
@media (max-width: 1280px) {
  .search-form-inp.there {
    border-radius: 16px 16px 0 0;
    margin-right: 0;
  }
}
.search-form-inp.back:after {
  left: -3px;
}
.search-form-inp:first-child:after {
  display: none;
}
.search-form-inp:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: #D7DBDF;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  z-index: 1;
}
@media (max-width: 1280px) {
  .search-form-inp:after {
    display: none !important;
  }
}
.search-form-inp svg {
  margin-right: 8px;
  min-width: 24px;
}
.search-form-inp svg * {
  transition: 0.3s;
}
.search-form-inp input {
  color: #11181C;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
}
@media (max-width: 1280px) {
  .search-form-inp input {
    width: 100%;
  }
}
.search-form-inp input::placeholder {
  color: #687076;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
}
.search-form-lr {
  min-width: 2.25rem;
  height: 2.25rem;
  border-radius: 40px;
  border: 1px solid #D7DBDF;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -14px;
  margin-left: -20px;
  position: relative;
  right: -3px;
  z-index: 10000000;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .search-form-lr {
    position: absolute;
    right: 40px;
    top: 34px;
  }
}
.search-form-select {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 1.8125rem;
  cursor: pointer;
  padding-left: 1.5rem;
  background-color: #fff;
  position: relative;
}
@media (max-width: 1280px) {
  .search-form-select {
    height: 53px;
    border-bottom: 1px solid #C1C8CD;
  }
}
.search-form-select:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: #D7DBDF;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  z-index: 1;
}
@media (max-width: 1280px) {
  .search-form-select:after {
    display: none !important;
  }
}
.search-form-select-body {
  width: 100%;
}
.search-form-select .icon-down {
  font-size: 8px;
  margin-left: 8px;
}
.search-form-select-name {
  color: #11181C;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.4px;
  white-space: nowrap;
}
.search-form-select-type {
  color: #687076;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.5px;
}
.search-form-submit {
  width: 100%;
  min-width: 156px;
  height: 100%;
  background-color: #FF7A00;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.4px;
  border-radius: 0 16px 16px 0;
}
@media (max-width: 1280px) {
  .search-form-submit {
    margin: 16px;
    width: calc(100% - 32px);
    border-radius: 10px;
    height: 44px;
  }
}

.noUi-horizontal {
  height: 2px !important;
  border: none !important;
}

.noUi-connect {
  background: #3E3AFF !important;
}

.noUi-horizontal .noUi-handle {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
  top: -7px !important;
  right: -13px !important;
  border: 2px solid #3E3AFF !important;
  background: #fff !important;
}
.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
  display: none !important;
}

.border-tel-input {
  border-color: #484747 !important;
}

.shadow-free-item {
  box-shadow: 0 2px 4px 0 rgba(17, 80, 203, 0.1), 0 24px 60px 0 rgba(17, 80, 203, 0.05), 0 12px 24px 0 rgba(17, 80, 203, 0.05);
}

.lounges-title {
  background: linear-gradient(90deg, #FFF 50.12%, rgba(255, 255, 255, 0) 99.99%);
}

@media (min-width: 768px) {
  .content {
    box-shadow: 0px -20px 30px 0px #F0F2FF;
  }
}

.card-shadow {
  box-shadow: 0 0 0.5px 0 rgba(18, 1, 255, 0.2), 0px 0.5px 2px 0px #CDD3FF;
}

.faq-item-shadow {
  box-shadow: 0px 2px 4px 0px rgba(62, 123, 250, 0.04), 0px 8px 16px 0px rgba(102, 223, 246, 0.16);
}

.hero-res-shadow {
  box-shadow: 0 10px 20px 2px rgba(39, 39, 42, 0.1), 0px -1px 0px 0px rgba(18, 1, 255, 0.2), -1px 0px 0px 0px rgba(18, 1, 255, 0.2), 1px 0px 0px 0px rgba(18, 1, 255, 0.2), 0px 1px 0px 0px rgba(18, 1, 255, 0.2);
}

.btn-child-shadow {
  box-shadow: -0.5px 0px 0px 0px #00D9FF inset, 0px -0.5px 0px 0px #00BEE5 inset, 0.5px 0px 0px 0px #00D9FF inset, 0px -1px 0px 0px #00D9FF inset, 0px 0.5px 0px 0px #00D9FF inset;
}

.wrapper-shadow {
  box-shadow: 0 0 0.5px 0 rgba(18, 1, 255, 0.2), 0px 0.5px 2px 0px #CDD3FF;
}
@media (max-width: 1024px) {
  .wrapper-shadow.lg-none-shadow {
    box-shadow: none;
  }
}
@media (max-width: 768px) {
  .wrapper-shadow.md-none-shadow {
    box-shadow: none;
  }
}

.contact-section {
  background: linear-gradient(147deg, rgba(0, 217, 255, 0.3) -19.7%, rgba(117, 180, 255, 0.3) 53.65%);
}

.view-map-btn-shadow {
  box-shadow: 0px 10px 20px 2px rgba(39, 39, 42, 0.1), 0px -1px 0px 0px rgba(18, 1, 255, 0.2), -1px 0px 0px 0px rgba(18, 1, 255, 0.2), 1px 0px 0px 0px rgba(18, 1, 255, 0.2), 0px 1px 0px 0px rgba(18, 1, 255, 0.2);
}

.scroll-bottom-none::-webkit-scrollbar {
  height: 0;
}

.scroll-right-none::-webkit-scrollbar {
  width: 0;
}

.mobile-menu-board {
  width: 30px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .mobile-menu-board {
    display: flex;
  }
}
.mobile-menu-board.active span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 10px;
}
.mobile-menu-board.active span:nth-of-type(2) {
  opacity: 0;
}
.mobile-menu-board.active span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: -10px;
}
.mobile-menu-board span {
  transition: 0.3s;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: #fff;
  position: relative;
}
.mobile-menu-board span:last-child {
  margin: 0;
}
.mobile-menu-board span:nth-of-type(1) {
  transform: rotate(0);
  top: 0;
}
.mobile-menu-board span:nth-of-type(2) {
  opacity: 1;
}
.mobile-menu-board span:nth-of-type(3) {
  transform: rotate(0);
  top: 0;
}

#load-line1 {
  stroke: #3E3AFF;
}

#load-line2 {
  stroke: #2196f3;
}

#load-line3 {
  stroke: #e91e63;
}

#load-line4 {
  stroke: #9c27b0;
}

.circle-wrapper .svg:nth-of-type(1) {
  color: #3E3AFF;
}
.circle-wrapper .svg:nth-of-type(2) {
  color: #2196f3;
}
.circle-wrapper .svg:nth-of-type(3) {
  color: #e91e63;
}
.circle-wrapper .svg:nth-of-type(4) {
  color: #9c27b0;
}
.circle-wrapper .svg {
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  position: relative;
}
.circle-wrapper .svg:after {
  content: attr(data-lang);
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #fff;
}
.circle-wrapper svg path {
  fill: none;
}
.circle-wrapper svg .load-circle {
  stroke-width: 3px;
  stroke-linecap: round;
  transition: stroke-dashoffset 3s ease-in-out;
  position: relative;
}
.circle-wrapper .load-bg {
  stroke: #E4E7FF;
  stroke-width: 3px;
}

@keyframes load {
  to {
    stroke-dashoffset: 48;
  }
}
.social {
  color: #999;
  letter-spacing: 1px;
}
.social i {
  background: #eee;
  color: #777;
  padding: 5px;
  border-radius: 50%;
}
.social i:hover {
  color: #111;
}
.social .follow {
  animation: light 0.8s ease-in-out infinite forwards;
}

@keyframes light {
  to {
    color: #111;
  }
}
.rating-blue {
  box-shadow: 4px 4px 0px 0px #A5ACFF;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*# sourceMappingURL=style.css.map */
