<nav class="w-full h-[56px] md:h-[82px] bg-[#0E00D6] flex-jc-c">
  <div class="container flex-jsb-c">
    <a href="/">
      <img src="images/home/logo.svg" alt="Logo" class="hidden md:block">
      <img src="images/home/logo-mobile.svg" alt="Logo" class="block md:hidden">
    </a>


    <div class="flex-je-c gap-4 hidden md:flex">
      <button class="text-white flex-jc-c gap-2">
        Авиабилеты
        <i class="icon icon-arrow_drop_down text-white"></i>
      </button>
      <button class="text-white flex-jc-c gap-2">
        RU
        <i class="icon icon-arrow_drop_down text-white"></i>
      </button>
      <div class="min-w-[1px] h-[16px] bg-[#FFF0E0]"></div>
      <button class="text-white flex-jc-c gap-2">
        UZS
        <i class="icon icon-arrow_drop_down text-white"></i>
      </button>
      <button class="text-white flex-jc-c gap-2 border border-[#FFF0E0] rounded-full px-[18px] py-[8px]">
        Войти в аккаунт
      </button>

    </div>

    <div class="mobile-menu-board flex md:hidden">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
</nav>