.noUi-horizontal{
  height: 2px !important;
  border: none !important;
}

.noUi-connect{
  background: #3E3AFF !important;
}

.noUi-horizontal .noUi-handle{
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
  top: -7px !important;
  right: -13px !important;
  border: 2px solid #3E3AFF !important;
  background: #fff !important;

  &:before, &:after{
    display: none !important;
  }
}